.clubber {
  height: inherit;
  margin-left: 10px;
  .search {
    background: #fff;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 10px;
  }
  .content {
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    .amy-table {
      width: 94%;
      margin: 0 auto;
      padding-top: 20px;
    }
  }
}
.policies-detail {
  width: 800px!important;
}