.header-area {
	height: 70px;
	.header-row-menu {
    position: relative;
	}
	.menu-col {
    height: 50px;
		ul {
      height: inherit;
			li {
        height: inherit;
        line-height: 50px;
				color: #fff;
        font-size: 14px;
        border-bottom: none;
      }
      .ant-menu-item:hover {
        border-bottom: none;
        color: #fff;
      }
      .ant-menu-item-selected {
        border-bottom: none;
        color: #fff;
        background: #1890ff;
      }
		}
	}
	.header-logo {
    line-height: 70px;
    color: #fff;
    .logo-line {
      width: 1px;
      height: 30px;
      background: #449A99;
      display: inline-block;
      top: 10px;
      position: relative;
    }
    img {
      right: 20px;
      width: 50px;
      position: relative;
    }
  }
	.header-name {
		span {
	    font-size: 26px;
	    font-weight: bold;
	    font-family: cursive;
	    padding-left: 20px;
      color: #449A99;
		}
	}
  .input-area {
    input {
      background: #06304b;
      position: relative;
      top: 22px;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      color: #fff;
    }
  }
  .user-area {
    text-align: center;
    img {
      width: 40px;
      border-radius: 100px;
      position: relative;
      top: 15px;
    }
  }
}